<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= render partial: 'shared/misc_partial' %>
    <p>Many Things are Here</p>
    <%= yield %>
  </body>
</html>
